* {
    padding: 0;
    margin: 0;
    background-color: rgba(156, 156, 156, 0.744);
}

.navigering {
    text-align: center;
}

a {
    justify-items: space-around;
}

.Name {
    background-color: rgba(96, 176, 223, 0);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.button {
    margin-top: -25px;
    margin-left: 75rem;
}

.mooon {
    scale: 200%;
}
body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.dark {
    background-color: #121212;
    color: white;
}

.om-mig-själv {
    background-color: rgba(80, 80, 80, 0.295);
    padding: 8px;
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.rubrik-01 {
    padding: 32px;
    font-size: 4rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mina-intressen {
}

.blender {
    border-radius: 15px;
    margin: auto;
    display: flex;
    padding: 20px;
    background-color: rgba(80, 80, 80, 0.295);
}

.rubrik {
    text-align: center;
    font-size: 8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -30px;
}

li {
    list-style: none;
    background-color: rgba(80, 80, 80, 0);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

ul {
    background-color: rgba(80, 80, 80, 0.295);
    border-radius: 15px;
}